#app {
  font-family: $family-sans-serif;
  color: $bright-white;
  font-size: 16px;
}

.navbar-item {
  font-weight: 700;
  color: $bright-white;
  font-size: 16px;
  img {
    max-height: 2.8rem;
  }
}
h1 {
  font-size: 28px;
  font-weight: 700;
  // text-shadow: 1px 1px 1px $bright-blue-1;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
h1.spe {
  font-size: 40px;
  font-weight: 700;
  color: $bright-white;
  margin-top: -60px;
  // text-shadow: 1px 1px 1px $bright-blue-1;
}
h2.spe {
  font-size: 28px;
  margin-top: 20px;
}
h2.spe2 {
  font-size: 28px;
}
h3.spe {
  font-size: 20px;
  font-weight: 700;
}
a.button {
  background-color: $bright-green;
  color: $bright-white;
  font-size: 20px;
  font-weight: 600;
  padding: 0px 15px;
  height: 35px;
  border: 1px solid $bright-green;
  border-radius: 5px;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
a.button:hover,
a.button:focus {
  background-color: $bright-green;
  color: $bright-white;
  border: 1px solid $bright-green;
  // color: $bright-green;
  // outline: 0;
  // border: 1px solid $bright-green;
  // background-color: transparent;
  // @include box-shadow(0px, 0px, 40px, 40px, $bright-green, inset);
}
.block-txt-tb {
  padding: 20px 0px;
}
.block-txt-top {
  padding: 20px 0px 0px 0px;
}
.blockp {
  padding: 30px 40px 30px 40px;
  background-color: $dark-black-op-2;
}
.blocka {
  padding: 30px 60px;
  @include setup('tablet', 'max') {
    padding: 30px 30px;
  }
  background-color: $dark-black-op;
  border-radius: 8px;
  @include box-shadow(0px, 6px, 6px, 0px, rgba(0,0,0,0.2));
}
.blockc {
  padding: 10px 15px;
  background-color: $dark-black-op;
  border-radius: 8px;
  @include box-shadow(0px, 6px, 6px, 0px, rgba(0,0,0,0.2));
}
.box-title {
  transform: translateY(-54px);
  border-radius: 4px;
  display: inline-block;
  padding: 10px 40px 6px 40px;
  @include setup('tablet', 'max') {
    padding: 10px 20px 6px 20px;
  }
  background-color: $bright-blue-3;
  @include box-shadow(0px, 6px, 6px, 0px, rgba(0,0,0,0.2));
}
.box-title-icon {
  padding: 20px 0px;
}
a.email,
a.email:hover,
a.email:focus {
  text-decoration: underline;
  color: $bright-white;
}
img.logo {
  max-height: 2.8rem;
}
.logo-product {
  @include setup('tablet', 'max') {
    width: 60%;
    margin-bottom: 20px;
  }
}

.navbar-brand {
  @include setup('desktop', 'min') {
    padding-left: 30px;
  }
  @include setup('widescreen', 'min') {
    padding-left: 50px;
  }
  @include setup('fullhd', 'min') {
    padding-left: 80px;
  }
}
.navbar-menu {
  @include setup('desktop', 'min') {
    padding-right: 30px;
  }
  @include setup('widescreen', 'min') {
    padding-right: 50px;
  }
  @include setup('fullhd', 'min') {
    padding-left: 80px;
  }
}

.link-active {
  background-color: red;
}