.persee {
  .home-screen {
    // background-image: linear-gradient(#000000, $bright-blue-2 50%, #000936);
    background-image: linear-gradient(#000000, $bright-blue-2 60%);
    .hero-head {
      .navbar {
        background-color: rgba(0, 0, 0, .6);
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
        .navbar-brand {
          .navbar-burger {
            span {
              background-color: $bright-white;
            }
          }
        }
        .navbar-menu {
          @include setup('desktop', 'max') {
            background-color: $bright-blue-2;
            text-align: center;
          }
          .navbar-end {
            a.navbar-item {
              position: relative;
              z-index: 1;
              &.isActive {
                color: black;
                background: #666;
              }
            }
            a.navbar-item,
            a.navbar-item:after,
            a.navbar-item:before {
              transition: all 0.5s;
            }
            a.navbar-item:after {
              position: absolute;
              border-radius: 2px;
              bottom: 14px;
              left: 0;
              right: 0;
              margin: auto;
              width: 0%;
              content: ' ';
              color: transparent;
              background: $bright-blue-3;
              height: 35px;
              color: $bright-blue-3;
            }
            a.navbar-item:hover:after {
              width: 100%;
              z-index: -10;
              text-shadow: 2px 2px 1px $dark-black;
            }
            a.navbar-item:nth-child(6):hover:after {
              width: 0%;
            }
          }
        }
        .navbar-item:hover,
        .navbar-item:target,
        .navbar-item:visited .navbar-item:focus,
        .navbar-item:focus-within,
        .navbar-item.is-active {
          background-color: transparent;
          color: $bright-white;
        }
      }
    }
    .hero-body {
      @include setup('tablet', 'max') {
        padding-top: 0px;
      }
      .block-txt-tb {
        @include setup('desktop', 'min') {
          max-width: 600px;
        }
        font-size: 18px;
      }
      .columns:nth-child(1) {
        img {
          @include setup('tablet', 'max') {
            max-width: 70%;
          }
        }
      }
      .columns {
        div.is-offset-1:nth-child(2) {
          @include setup('tablet', 'max') {
            margin-top: -40px !important;
          }
        }
      }
    }
  }

  .details-screen {
    // background-image: linear-gradient(#000936, $bright-blue-2 90%, #000000);
    background-image: linear-gradient(
      $bright-blue-2,
      $bright-blue-2 95%,
      #000000
    );
    // background-color: $bright-blue-2;
    .hero {
      .hero-body {
        padding: 3rem 0rem;
        // div#p1-vision {
        //   @include setup('desktop', 'min') {
        //     margin-top: 260px;
        //   }
        //   @include setup('desktop', 'max') {
        //     margin-top: 180px;
        //   }
        //   @include setup('tablet', 'max') {
        //     margin-top: 50px;
        //   }
        //   .blockp {
        //     border-radius: 8px 0px 0px 8px;
        //     @include box-shadow(-4px, 0px, 4px, 0px, rgba(0, 0, 0, 0.2));
        //     .block-txt-top {
        //       @include setup('desktop', 'min') {
        //         max-width: 500px;
        //       }
        //     }
        //   }
        // }
        div#p1-vision,
        div#p2-products,
        div#p3-sectors,
        div#p4-team,
        div#p5-contact {
          @include setup('desktop', 'min') {
            margin-top: 260px;
          }
          @include setup('desktop', 'max') {
            margin-top: 180px;
          }
          .blockp {
            border-radius: 0px 8px 8px 0px;
            @include box-shadow(4px, 0px, 4px, 0px, rgba(0, 0, 0, 0.2));
            @include setup('desktop', 'min') {
              padding-left: 80px;
            }
          }
        }
        div#p5-contact {
          @include setup('desktop', 'min') {
            margin-bottom: 260px;
          }
          @include setup('desktop', 'max') {
            margin-bottom: 180px;
          }
          .blockp {
            border-radius: 8px;
          }
        }
      }
      div#p2-products {
        .product {
          @include setup('tablet', 'max') {
            padding: 0px 30px;
          }
          @include setup('desktop', 'min') {
            margin-top: 120px;
          }
          @include setup('desktop', 'max') {
            margin-top: 80px;
          }
          p.block-txt-tb {
            margin-top: -44px;
          }
          a.button {
            svg {
              margin-right: 10px;
            }
          }
        }
        hr {
          @include setup('desktop', 'min') {
            margin: -18px -320px 0px 180px;
            background-color: $bright-white;
          }
          @include setup('desktop', 'max') {
            display: none;
          }
        }
      }
      div#p3-sectors {
        .sector {
          @include setup('desktop', 'min') {
            margin-top: 120px;
          }
          @include setup('desktop', 'max') {
            margin-top: 80px;
          }
          .columns {
            @include setup('tablet', 'max') {
              padding: 0px 30px;
            }
            .column.is-2 {
              background-color: $bright-blue-3;
              border-radius: 4px;
              @include box-shadow(0px, 6px, 6px, 0px, rgba(0, 0, 0, 0.2));
            }
            .column.blocka {
              padding: 15px 30px;
            }
          }
          .columns.screen-left {
            .column.blocka {
              border-radius: 0px 5px 5px 0px;
            }
          }
          .columns.screen-right {
            .column.blocka {
              border-radius: 5px 0px 0px 5px;
            }
          }
        }
      }
      div#p4-team {
        .container {
          @include setup('desktop', 'min') {
            margin-top: 120px;
          }
          @include setup('desktop', 'max') {
            margin-top: 80px;
          }
          .columns {
            .column {
              padding: 30px;
              .team-bg {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
            }
            .column:nth-child(1),
            .column:nth-child(3) {
              .blocka {
                img {
                  max-height: 30vh;
                }
              }
              .team-bg {
                height: 30vh;
              }
            }
            .column:nth-child(2n) {
              .blocka {
                img {
                  max-height: 25vh;
                }
              }
              .team-bg {
                height: 25vh;
              }
            }
            .column:nth-child(5),
            .column:nth-child(7),
            .column:nth-child(9),
            .column:nth-child(11) {
              .blocka {
                img {
                  max-height: 40vh;
                }
              }
              .team-bg {
                height: 40vh;
              }
            }
          }
        }
      }
      div#p5-contact {
        p.block-txt-top {
          font-size: 18px;
        }
      }
      .hero-foot {
        .columns {
          margin-bottom: 0rem;
          a,
          a:hover,
          a:focus {
            color: $bright-white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
