// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');

// Set brand colors
$bright-white: #FFFAFA;
$bright-white-spe: rgba(252, 252, 252, 0.2);
$bright-blue-1: #01d4dd;
$bright-blue-2: #0c0791;
$bright-blue-3: #3C37DB;
$bright-blue-4: #100ABF;
$bright-green: #01D4DD;
$bright-blue-2-spe: rgba(12,7,145,0.4);
$dark-blue: #003160;
$dark-blue-op: rgba(0,49,96,0.4);
$dark-black: #0F0F0F;
$dark-black-op: rgba(0,0,0,0.2);
$dark-black-op-2: rgba(0,0,0,0.5);

// Set font
$family-sans-serif: 'Josefin Sans', sans-serif;

// Update bulma variables
$primary: $bright-blue-1;
$link: $bright-blue-1;
