<template>
  <div class="persee">
    <div class="home-screen">
      <section class="hero is-fullheight">
        <!-- HEADER -->
        <div class="hero-head">
          <div class="container">
            <div class="columns">
              <div class="column is-10 is-offset-1">
                <!-- NAVBAR -->
                <nav class="navbar is-fixed-top">
                  <div class="navbar-brand">
                    <a class="navbar-item" v-scroll-to="'#p0-home'">
                      <img src="@/assets/logo2.png" alt="Persee logo" />
                    </a>
                    <div
                      class="navbar-burger"
                      @click="showNav = !showNav"
                      :class="{ 'is-active': showNav }"
                    >
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <div class="navbar-menu" :class="{ 'is-active': showNav }">
                    <div class="navbar-end">
                      <a class="navbar-item" v-scroll-to="'#p1-vision'"
                        >Vision</a
                      >
                      <a class="navbar-item" v-scroll-to="'#p2-products'"
                        >Products</a
                      >
                      <a class="navbar-item" v-scroll-to="'#p3-sectors'"
                        >Sectors</a
                      >
                      <a class="navbar-item" v-scroll-to="'#p4-team'">Team</a>
                      <a class="navbar-item" v-scroll-to="'#p5-contact'"
                        >Contact</a
                      >
                      <a class="navbar-item"></a>
                      <a class="navbar-item" href="mailto:contact@pers-ee.com">
                        <font-awesome-icon :icon="['far', 'envelope']" />
                      </a>
                      <a
                        class="navbar-item"
                        href="https://www.linkedin.com/company/persee-innovation/"
                      >
                        <font-awesome-icon :icon="['fab', 'linkedin-in']" />
                      </a>
                    </div>
                  </div>
                </nav>
                <!-- END NAVBAR -->
              </div>
            </div>
          </div>
        </div>
        <!-- BODY -->
        <div class="hero-body" id="p0-home">
          <div class="container">
            <div class="columns is-vcentered">
              <div
                class="column is-5 is-hidden-tablet has-text-centered-mobile"
              >
                <img src="./../assets/img_home.png" />
              </div>
              <div class="column is-6 is-offset-1">
                <div>
                  <h1>Smart energy solutions</h1>
                  <p class="block-txt-tb">
                    Categorized as a “young innovative company”, we are attuned
                    to changes in the wider context, we are relentless in the
                    pursuit to offer innovative solutions that benefit our
                    evolving energy systems.
                  </p>
                  <div class="has-text-centered-mobile">
                    <a class="button" v-scroll-to="'#p1-vision'">our vision</a>
                  </div>
                </div>
              </div>
              <div class="column is-4 is-offset-1 is-hidden-mobile">
                <img src="./../assets/img_home.png" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="details-screen">
      <section class="hero">
        <div class="hero-body">
          <div id="p1-vision" class="bblock">
            <div class="columns">
              <div class="column is-5">
                <div class="blockp">
                  <h1 class="spe">Vision</h1>
                  <p class="block-txt-top">
                    Hydrogen has a powerful role to play in our upcoming
                    sustainable energy future. This role is overarching and
                    systemic. Digitilisation will undoubtedly make it happen
                    faster and smarter. We are here to bring our contribution
                    and enable a step change!
                  </p>
                </div>
              </div>
            </div>
            <div class="vision">
              <div class="columns is-vcentered">
                <div class="column is-6 is-offset-3 has-text-centered">
                  <img src="./../assets/wordc.png" />
                </div>
              </div>
            </div>
            <!-- <div class="columns is-vcentered">
              <div class="column is-4 is-offset-3">
                <img src="./../assets/wordc.png" />
              </div>
              <div class="column is-5">
                <div class="blockp">
                  <h1>Our vision</h1>
                  <p class="block-txt-top">
                    Hydrogen has a powerful role to play in our upcoming
                    sustainable energy future. This role is overarching and
                    systemic. Digitilisation will undoubtedly make it happen
                    faster and smarter. We are here to bring our contribution
                    and enable a step change!
                  </p>
                </div>
              </div>
            </div> -->
          </div>
          <div id="p2-products" class="bblock">
            <div class="columns">
              <div class="column is-5">
                <div class="blockp">
                  <h1 class="spe">Products</h1>
                  <p class="block-txt-top">
                    We support the digitilisation of the hydrogen economy
                    through a Hy-suite of digital products ranging from
                    diagnosis tools to real time optimisation softwares. These
                    products uniquely blend industry 4.0 techniques with an
                    in-depth understanding of hydrogen.
                  </p>
                </div>
              </div>
            </div>
            <div class="product" v-for="product in products" :key="product.id">
              <div class="columns is-vcentered">
                <div
                  class="column is-2 is-offset-1 has-text-centered-mobile is-hidden-tablet"
                >
                  <img class="logo-product" :src="product.logo" />
                </div>
                <div class="column is-5 is-offset-2 blocka">
                  <div class="box-title">
                    <h2>{{ product.title }}</h2>
                  </div>
                  <p class="block-txt-tb">{{ product.content }}</p>
                  <a class="button" :href="product.pdf">
                    <font-awesome-icon :icon="['fas', 'download']" size="xs" />
                    learn more
                  </a>
                  <hr />
                </div>
                <div
                  class="column is-2 is-offset-1 has-text-centered-mobile is-hidden-mobile"
                >
                  <img class="logo-product" :src="product.logo" />
                </div>
              </div>
            </div>
          </div>
          <div id="p3-sectors" class="bblock">
            <div class="columns">
              <div class="column is-4">
                <div class="blockp">
                  <h1 class="spe">Sectors</h1>
                  <p class="block-txt-top">
                    We focus our efforts on 4 market segments where we prove our
                    concepts through dedicated projects.
                  </p>
                </div>
              </div>
            </div>
            <!-- SECTOR 1 -->
            <div class="sector">
              <div class="columns is-vcentered screen-left">
                <div class="column is-2 is-offset-3 has-text-centered">
                  <div class="box-title-icon">
                    <font-awesome-icon :icon="['fas', 'industry']" size="6x" />
                    <h2 class="spe">Power to gas</h2>
                  </div>
                </div>
                <div class="column is-4 blocka">
                  <p class="block-txt-tb">
                    This sector intends to make the most of intermitent
                    renewable sources within evolving power and gas sectoral
                    rules. Given the scale of the installation we are working on
                    (up to 100MW) a small percentage of enhancement can bring a
                    huge impact.
                  </p>
                </div>
              </div>
            </div>
            <!-- SECTOR 2 -->
            <div class="sector">
              <div class="columns is-vcentered screen-right">
                <div class="column is-2 has-text-centered is-hidden-tablet">
                  <div class="box-title-icon">
                    <font-awesome-icon
                      :icon="['fas', 'solar-panel']"
                      size="6x"
                    />
                    <h2 class="spe">Off-grid</h2>
                  </div>
                </div>
                <div class="column is-4 blocka is-offset-3">
                  <p class="block-txt-tb">
                    This sector aims to autonomous energy management using
                    hydrogen as a bridge across the different local applications
                    (heating, lighting, fueling, ...). Given the criticality of
                    the availability of energy in these systems we strive to
                    find the more robust control approaches in a highly dynamic
                    setup.
                  </p>
                </div>
                <div class="column is-2 has-text-centered is-hidden-mobile">
                  <div class="box-title-icon">
                    <font-awesome-icon
                      :icon="['fas', 'solar-panel']"
                      size="6x"
                    />
                    <h2 class="spe">Off-grid</h2>
                  </div>
                </div>
              </div>
            </div>
            <!-- SECTOR 3 -->
            <div class="sector">
              <div class="columns is-vcentered screen-left">
                <div class="column is-2 is-offset-3 has-text-centered">
                  <div class="box-title-icon">
                    <font-awesome-icon :icon="['fas', 'ship']" size="6x" />
                    <h2 class="spe">Shipping</h2>
                  </div>
                </div>
                <div class="column is-4 blocka">
                  <p class="block-txt-tb">
                    The decarbonisation imposed to the maritime sector brings
                    high tech fuel cells to hybridised power train requiring
                    alternative approaches to on-board energy management in
                    connection with ports. A mix of digital twinning and and
                    hybrid energy management techniques contribute to the
                    adoption of such technologies.
                  </p>
                </div>
              </div>
            </div>
            <!-- SECTOR 4 -->
            <div class="sector">
              <div class="columns is-vcentered screen-right">
                <div class="column is-2 has-text-centered is-hidden-tablet">
                  <div class="box-title-icon">
                    <font-awesome-icon :icon="['fas', 'bus']" size="6x" />
                    <h2 class="spe">Mobility</h2>
                  </div>
                </div>
                <div class="column is-4 blocka is-offset-3">
                  <p class="block-txt-tb">
                    The deployment of Hydrogen refueling stations is
                    accelerating under the impetus of national plans, although
                    these pieces of equipment are not totally mature yet. There
                    is an obvious need to improve the overall refueling
                    experience, including a better connectivity between the FCEV
                    users and the HRS operators.
                  </p>
                </div>
                <div class="column is-2 has-text-centered is-hidden-mobile">
                  <div class="box-title-icon">
                    <font-awesome-icon :icon="['fas', 'bus']" size="6x" />
                    <h2 class="spe">Mobility</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="p4-team" class="bblock">
            <div class="columns">
              <div class="column is-4">
                <div class="blockp">
                  <h1 class="spe">Team</h1>
                  <p class="block-txt-top">
                    We are a team of mixed competences, experiences,
                    nationalities who share a common motivation to make a
                    contribution to a brighter future.
                  </p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="columns is-vcentered is-multiline">
                <div class="column is-4" v-for="t in team" :key="t.id">
                  <div
                    class="team-bg"
                    :style="{ backgroundImage: 'url(' + t.puzzle + ')' }"
                  >
                    <!-- <div class="team-pz has-text-centered">
                    <img :src="t.puzzle" />
                  </div> -->
                    <div class="blockc">
                      <h2 class="spe2 has-text-centered">{{ t.name }}</h2>
                      <h3 class="spe has-text-centered">{{ t.job }}</h3>
                      <p>{{ t.desc }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="p5-contact" class="bblock">
            <div class="columns">
              <div class="column is-6 is-offset-3">
                <div class="blockp">
                  <h1 class="spe has-text-centered">Contact us</h1>
                  <p class="block-txt-top">
                    Let us shape a cleaner and brighter energy future together,
                    contact us at
                    <a class="email" href="mailto:contact@pers-ee.com"
                      >contact@pers-ee.com</a
                    >.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-foot">
          <div class="columns has-text-centered">
            <div class="column is-2 is-offset-2">
              <img class="logo" src="@/assets/logo.png" alt="Persee logo" />
            </div>
            <div class="column is-2">
              <div class="columns">
                <div class="column is-6">
                  <a v-scroll-to="'#p1-vision'">Vision</a>
                  <br />
                  <a v-scroll-to="'#p2-products'">Products</a>
                  <br />
                  <a v-scroll-to="'#p3-sectors'">Sectors</a>
                </div>
                <div class="column is-6">
                  <a v-scroll-to="'#p4-team'">Team</a>
                  <br />
                  <a v-scroll-to="'#p5-contact'">Contact</a>
                </div>
              </div>
            </div>
            <div class="column is-2">
              <span>Address</span>
              <br />
              <span>26 rue Pierre Corneille</span>
              <br />
              <span>69 007 Lyon</span>
              <br />
              <span>France</span>
            </div>
            <div class="column is-2">
              <span>Contact us</span>
              <br />
              <a href="mailto:contact@pers-ee.com">contact@pers-ee.com</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'persee',
  data() {
    return {
      showNav: false,
      scrolled: false,
    }
  },
  computed: {
    ...mapGetters(['products', 'team']),
  },
  methods: {
    getImgUrl(logo) {
      return require(logo)
    },
    handleScroll() {
      this.scrolled = window.scrollY > 0
      // console.log(window.scrollY)
    },
    elemPos() {
      var element = document.getElementsByClassName('bblock')
      // var el = document.querySelector('#p3-sectors')
      // console.log(el.scrollLeft, el.scrollTop)
      var i
      for (i = 0; i < element.length; i++) {
        // var ok = element[i].scrollTop
        // console.log(ok)
      }
    },
  },
  created() {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  mounted() {
    this.elemPos()
  },
}
</script>

<style lang="scss"></style>
